Repository lddtoan/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, git add ., eslint

.lintstagedrc.json:

{
  "*.json": ["prettier --write", "git add ."],
  "*.{js,mjs,jsx,ts,tsx}": ["eslint", "prettier --write", "git add ."]
}

update: lint staged
  .lintstagedrc.json
Due: prettier --write, git add .

update: fix gitlab ci
  .gitlab-ci.yml
Due: none

update: add needs to test stage
  .gitlab-ci.yml
Due: none

update: run unit tests before build
  .gitlab-ci.yml
Due: none

update: fix test command
  package.json
Due: prettier --write, git add .

update: tests
  .lintstagedrc.json
  .yarn/install-state.gz
  __tests__/helper.test.ts
  package.json
  yarn.lock
Due: prettier --write, git add ., eslint

update: readme
  README.md
Due: none

fix: incompatible with vscode prettier extension
  .vscode/settings.json
  .yarn/install-state.gz
  README.md
  package.json
  yarn.lock
Due: prettier --write, git add .
